html,
body {
  overflow: hidden;
}

body {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

#myCanvas {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;/* Устанавливаем z-index больше, чтобы покрытие было сверху */
  position: fixed;
}